body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; }

.container {
	margin: 0 auto;
	background-color: #efefef;
	max-width: 1200px;
}

.box {
	background-color: #8ea;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

#mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	width: 50%;
	display: inline-block;
	/*margin-left: auto;
	margin-right: auto;*/
	order: -1;
}

.nav {
	flex: 0 0 60px;
}

#burgerCon {
	margin-bottom: 20px;
	position: fixed;
	top: 85px;
	width: 100%;
	background-color: #fff;

	display:none;
}

.show-mobile-nav { display: block !important; }

#burgerCon li { 
	padding: 20px; 
	border-top: thin solid 1px #666 black; 
	text-align: center; 
	top: 60px; 
}

#burgerCon a {
	text-decoration: none;
	color: #8ea;
}

@media screen and (min-width: 600px) {
	#mainHeader {
		display: flex;
		flex-direction: row;
	}

	.box {
		flex: 1 1 auto;
	}

	.nav {
		flex: 0 1 600px; /*we dont want it to grow and should keep 600px, it'll stop growing at 600px*/
	}

	.logo {
		order: -1; /*puts it at beginning*/
		flex: 0 1 220px;
		margin-left: 10px;
	}

	#products {
		display: flex;
		flex-direction: row;
		
	}
}